.header {
    width: 40%;
    margin: auto;
}

.header > h2 {
    text-align: center;
}

.solution {
    width: 324px;
    margin: auto;

}

img {
    width: 40px;
    height: 40px;
}

table > tbody > tr > td {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
}
